extends layout

block content
  .page-header
    h1 Forgot your password?
  form.form-forgotpwd.text-center
    h2.form-forgotpwd-heading Find Your Account.
    .input-prepend
      span.add-on
        i.icon-envelope
      input.input-xxlarge(type="email", placeholder="Email adress")
    p
    button.btn.btn-large.btn-primary(type="submit") Search
    p
    button.btn.btn-large.btn(href="/") Cancel