extends layout

block content
  section
    .hero-unit.inverse
      h1 Hello Social.
      p Free & Simple Social Network
      p
        a.btn.btn-primary.btn-large(href="/signup") Sign up

    h1= title
    p Welcome to #{title}, the new Social Network that will permit you to share with people.