extends layout3

block content
  ul.thumbnails
    li.span4
      .thumbnail
        img(data-src='holder.js/300x200', alt='300x200', style='width: 200px; height: 300px;', src='images/1.jpg')
        h3 Thumbnail label
        p Thumbnail caption...


        