extends layout3

block content
  ul.thumbnails
    li.span4
      .thumbnail
        img.avatar(data-src='holder.js/360x270', alt='360x270', style='width: 360px; height: 270px;', src='images/face.jpg')
  section
    

  


        