extends layout

block content
	h1 Welcome #{firstName} #{lastName}
	h2 Successfully created your account #{userName}

	p We sent you an activation email to #{email}. Please follow the activation link to activate your account.
